@model TestMVC.ViewModels.ChangeUserRoleViewModel;

<table class="table">
    <tr>
        <th>Удалить пользователя</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Емеил</th>
        <th>Подтвержден ли Емеил</th>
        @foreach (var role in Model.AllRoles)
        {
            <th>@role.Name</th>
        }
    </tr>
    @foreach (var user in Model.Users)
    {
<tr>
    <td><form method="Post" asp-controller="Users" asp-action="DeleteUser">
    <input type="hidden" name="userEmail" value="@user.Email" />
    <input class="btn btn-danger" type="submit" value="Удалить" />
</form></td>
    <td>@user.Name</td>
    <td>@user.SurName</td>
    <td>@user.Email</td>
    <td>@user.EmailConfirmed</td>
    @foreach (var role in Model.AllRoles)
    {
<td>
    <form method="Post" asp-controller="Users" asp-action="ChangeUserRole">
        <input type="hidden" name="userEmail" value="@user.Email" />
        <input type="hidden" name="role" value="@role.Name" />
        @if (user.UserRoles.Contains(role.Name))
        {
            <input type="hidden" name="addOrRemove" value= "false" />
            <input class="btn btn-danger" type="submit" value="Деактивировать" />
        }
        else
        {
            <input type="hidden" name="addOrRemove" value="true" />
            <input class="btn btn-success" type="submit" value="  Активировать  " />
        }
    </form>
</td>

     }
    </tr>
    }
</table>